<html>
    <head>
        OPERACIONES
    </head>
    <body>
        <div>
            <H2>Operaciones Persona</H2>
            <a href="vistaPersona.html">Alta Persona</a>
            <br>
            <a href="listarPersona.php">Listar Persona y Modificar</a>
            
        </div>
        <div>
            <h2>Operaciones Usuario</h2>
            <a href="vistaUsuario.html">Alta Usuario</a>
            <br>
            <a href="listarUsuarios.php">Listar Usuario y Modificar</a>
        </div>

    </body>
</html>