<html>

<head>
    <title>Formulario Persona</title>
</head>

<body>
    <div class="container">
        <div 
            class="row justify-content-center align-items-center" 
            style="height:100vh"
        >
            <div class="col-6">
                <div class="card">
                    <div class="form-group">
                            <h3>Formulario Usuario</h3>
                    </div>
                    <div form-group>
                        <form action="../controller/controllerUsuario.php" method="POST">
                            <div>
                                <p>
                                    <h6>Nombre Usuario</h6>
                                    <input type="text" class="form-control"  name="NomUsuario" required />
                                </p>
                            </div>
                            <div>
                                <p>
                                    <h6>Contraseña</h6>
                                    <input type="text" class="form-control"  name="contrasena" required />
                                </p>
                            </div>
                            
                            <div>
                                <p>
                                    <h6>Rol</h6>
                                    <select>
                                        <option value="administrativo">administrativo</option>
                                        <option value="chofer">chofer</option>
                                        <option value="Playero">Playero</option>
                                    </select>
                                </p>
                            </div>
                            <div>
                                <h6>Domicilio</h6>
                                <input type="text" class="form-control" placeholder="Domicilio" name="Domicilio" required/>
                            </div>
                            <div class="form-group">
                                <p>
                                    <h6>Fecha Nacimiento</h6>
                                    <!--<input placeholder="Fecha Nacimiento" class="textbox-n" type="text" onfocus="(this.type='date')">-->
                                    <input type="date" class="form-control" name="FechaNacimiento" required/>
                                </p>
                            </div>
                            <div class="justify-content-center">
                                <p>
                                    <h6>Email</h6>
                                    <input type="email" class="form-control justify-content-center" placeholder="Email" name="Email" required/>
                                </p>
                            </div>
                            <br>
                            <div>
                                <button 
                                    type="submit" 
                                    class="btn btn-outline-dark">
                                    Guardar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <!--AGREGO BOOTSTRAP-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>